<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VideoRentalData.Properties.Settings.VideoRentalDBConnectionString"
            connectionString="Data Source=ABYSS;Initial Catalog=VideoRentalDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="VideoRentalData.Properties.Settings.VideoRentalConnectionString"
            connectionString="Data Source=ABYSS;Initial Catalog=VideoRental;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>